
<nav class="navbar">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Angular Logo">
    <ul>
        <div class="sections">
            <li><a href="default.asp">Home</a></li>
            <li><a href="about.asp">About</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
        </div>
    </ul>
</nav>


<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<button (click)="counter('minus')">-</button>
<h2>Counter value is : {{value}}</h2>
<button (click)="counter('plus')">+</button>