
/* ********* Custom CSS ************* */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0.5rem;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    
}

h2{
    font-weight: 600;
    font-size: 2.25rem;
    text-transform:capitalize;
    line-height: 3rem;
}

h5{
    text-transform:capitalize;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

p{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}
/* ************************* Section-1 Navbar ********************** */
.navigation-wrap{
    position: fixed;
    width: 100vw;
    z-index: 20000;
    left: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    
}

.nav-item{
    padding: 0 0.5rem;
    transition: all 200ms linear;
}

.navbar-brand{
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    /* background: url("./Images/food.svg"); */
    animation: myfirst5s; 
}

:root a{
    color: var(--bs-red)
}

:root a:hover{
    color: var(--bs-blue);
}

/* *******************  Section-1 *************** */
:root .main-btn{
    display:inline-block;
    padding: 0.5rem 1.5rem;
    background-color: var(--bs-red);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8%;
    border: 1px solid red;
    color: var(--bs-white);
    -webkit-transition: all .4s ease-out 0s;
    box-shadow: rgba(223, 8, 8, 0.87) 0px 20px 25px -5px, rgba(236, 7, 7, 0.04) 0px 10px 10px -5px;
}
.main-btn:hover{
    transform: rotateY(180deg) translateZ(100px);
}


:root .white-btn{
    display:inline-block;
    padding: 0.5rem 1.5rem;
    background-color: var(--bs-white);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8%;
    border: 2px solid white;
    color: var(--bs-black);
    -webkit-transition: all .4s ease-out 0s;
    box-shadow: rgba(235, 213, 213, 0.87) 0px 20px 25px -5px, rgba(236, 7, 7, 0.04) 0px 10px 10px -5px;
    
}


.fa-angle-right{
    opacity: 0;
}
.white-btn:hover{
    padding-right: 30px;
    font-size: 1.2rem;
}
.white-btn:hover .fa-angle-right{
    margin-right: 25px;
    opacity: 1;
}

p{
    font-style:inherit;
    word-spacing: 0.5rem;
    font-weight: 500;
    
}
.home-section{
    background: url("./Images/bg/bg-1.jpg") no-repeat center;
    background-size: cover;
    padding: 14rem 0 9rem;
    margin-bottom: 1rem;
}



/* **************** Section-2  About ****************** */

.about-section{
    background: var(--gray-color);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.card{
    padding-top: 2rem;
    border-radius: 50%;
}
.card img{
    border-radius: 2%;
}

.text-section{
    padding-left: 2rem;
}

.food-variety{
    padding-top: 3rem;
}

.food-variety ul li{
    font-size:1.1rem;
    color: var(--text-color);
    line-height: 30px;
    position: relative;
    margin-left: 30px;
}

:root .food-variety ul li::before{
    position: absolute;
    color: var(--bs-red);
    font-size: 1.25rem;
    content: '\f00c';
    left: -2rem;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 10px;
    font-weight: 1000;
}

/* ************************** Story Section *************** */
.story-section{
    width: 100vw;
    height: 27rem;
    background: url("./Images/bg/bg-2.jpg") no-repeat center;
    background-size: cover;
    padding-top: 110px;
    text-align: center;
    margin-bottom: 3rem;
}

.story-section h2{
    color: orangered;
}



/* ************************** Explore Section **************************** */

.explore-section{
    margin-top: 3rem;
}
.explore-section .card{
    border: none;
    background-color: transparent;
}

.explore-section .card img{
    border-radius: 1rem;
    object-fit: cover;
}

:root .explore-section .card span{
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 1.2rem;
    color: var(--bs-red);
    border-bottom: 0.04rem solid #eee;
}

.explore-section .card span del{
    color: darkgrey;
}


.main2-btn{
    display:inline-block;
    padding: 0.5rem 1.5rem;
    background-color: var(--bs-red);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8%;
    border: 1px solid red;
    color: var(--bs-white);
    -webkit-transition: all .4s ease-out 0s;
}

.main2-btn:hover{
    opacity: 1;
    color:black;
    background-color: white;
    border: 2px solid black;
}

/* ***********************  Reviews Section ****************************** */

:root .reviews-section{
    background-color: var(--bs-red);
    padding-top: 2.3rem;
    margin-top: 2rem;
}

.reviews-section .carousel-item{
    margin-top: 3rem;
    padding: 10rem 3rem;
    /* background-color: var(--bs-white); */
    border-radius: 1rem;
    text-align: center;

}

.reviews-section .carousel-item .carousel-caption p{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 11% 0.5rem;
}

.reviews-section .carousel-caption img{
    max-width: 5rem;
    border-radius: 50%;
    padding: 0.3rem;
}
:root .reviews-section h2{
    color: var(--bs-white);
}

.reviews-section .carousel-indicators button{
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    opacity: 0.2;
}

.reviews-section .carousel-indicators button.active{
    opacity: 1;
}


/* ********************* Contact Section ********************* */

#contact .card:hover i,#contact .card:hover h4{
	color: #87d37c;
}


:root .contact-section{
    margin-top: 2rem;
    background-color: var(--bs-gray);
}

.contact-section h3{
    padding-bottom: 2rem;
    padding-top: 2rem;

}



/* ****************  Footer ***************************** */

.footer-section{
    background: var(--bs-red);
}

:root .footer-link{
    font-size: 1rem;
    color: var(--bs-white);
    padding: 0 1rem;
    text-decoration: none;
}

:root .footer-section .footer-social-media a:hover{
    color: var(--bs-white);
}

:root .footer-section .footer-social-media a i{
    padding: 0 1rem;
    font-size: 1.5rem;
    color: var(--bs-white);
}